.vscode/**
node_modules/**
coverage/**
src/**
test/**
scripts/**
icons/cursor-ai-480.png
icons/README.md
fonts/*.ttf
fonts/*.svg
tsconfig.json
vitest.config.mts
.gitignore
**/*.vsix
**/*.map
**/.env
**/.env.*
**/auth.json
**/secret
**/secret.*
**/secrets
**/secrets.*
**/*.pem
**/*.key
